.layout{width:100%;height: 100%;margin:0 auto;}
.damage-list{position:relative;color:#555;background:#fff;border:3px solid #ddd8ce;}
.damage-list ul{float:right;white-space:nowrap;margin-top: 20px;}
.damage-list ul:first-child{ float: left;margin-left: 60px;} /*35*/
.damage-list ul:last-child{ float: right;}
.damage-list ul:nth-child(2){ float: left;margin-left: 30px;}
.damage-list ul:nth-child(3){ float: left;margin-left: 30px;}
.damage-list ul:nth-child(4){ float: left;margin-left: 30px;}
.damage-list ul:nth-child(5){ float: left;margin-left: 30px;}
.damage-list ul:nth-child(6){ float: left;margin-left: 30px;}
.damage-list ul:nth-child(7){ float: left;margin-left: 30px;}
.damage-list ul:nth-child(8){ float: left;margin-left: 30px;}
.damage-list ul:nth-child(9){ float: left;margin-left: 30px;}
.damage-list ul:nth-child(10){ float: left;margin-left: 30px;}
/*.damage-list ul li{position:relative;padding:0 0 18px 42px}*/
.damage-list ul li{position:relative;min-width: 40px;}
/*.damage-list ul input{position:absolute;top:4px;left:0}*/
.damage-list ul input{position:absolute;}
.damage-list ul span{color:#bbb}

.damage-list {
    background-color: #fff;
}

